[submodule "pipeline-template"]
	path = pipeline-template
	url = https://github.com/biowdl/pipeline-template.git
[submodule "germline-DNA"]
	path = germline-DNA
	url = https://github.com/biowdl/germline-DNA.git
[submodule "aligning"]
	path = aligning
	url = https://github.com/biowdl/aligning.git
[submodule "RNA-seq"]
	path = RNA-seq
	url = https://github.com/biowdl/RNA-seq.git
[submodule "expression-quantification"]
	path = expression-quantification
	url = https://github.com/biowdl/expression-quantification
[submodule "BamMetrics"]
	path = BamMetrics
	url = https://github.com/biowdl/BamMetrics.git
[submodule "QC"]
	path = QC
	url = https://github.com/biowdl/QC.git
[submodule "ChIP-seq"]
	path = ChIP-seq
	url = https://github.com/biowdl/ChIP-seq.git
[submodule "jointgenotyping"]
	path = jointgenotyping
	url = https://github.com/biowdl/jointgenotyping.git
[submodule "gatk-preprocess"]
	path = gatk-preprocess
	url = https://github.com/biowdl/gatk-preprocess.git
[submodule "bam-to-gvcf"]
	path = bam-to-gvcf
	url = https://github.com/biowdl/bam-to-gvcf.git
[submodule "somatic-variantcalling"]
	path = somatic-variantcalling
	url = https://github.com/biowdl/somatic-variantcalling.git
[submodule "rna-coding-potential"]
	path = rna-coding-potential
	url = https://github.com/biowdl/rna-coding-potential.git
[submodule "small-rna"]
	path = small-rna
	url = https://github.com/biowdl/small-rna.git
[submodule "cnv-calling"]
	path = cnv-calling
	url = https://github.com/biowdl/cnv-calling.git
